body{
	font-family: 'Titillium Web', sans-serif;
}

.navbar {
    background-color: var(--white-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    min-height: 100px;
}

.nav-link { color: var(--dark-color); }
.nav-link:hover { color: var(--dark-color); }

.navbar-toggler { font-size: 40px; }
.navbar-toggler:focus { outline: none; }

.logo-covid {
    max-width: 180px;
    min-width: 160px;
}

h1 { font-size: 66px; font-weight: 700; line-height: 80px; }
h2 { font-size: 48px; margin-bottom: 30px; text-align: center; }
h3 { font-size: 33px; }
h5 { margin-bottom: 0px; }

.parrafo{
	width: 40%;
	text-align: center;
	float: left;
	margin-left: 30%;
}

img{
display:block;
margin:auto;
}

p{
	width: 40%;
	text-align: center;
	float: left;
	margin-left: 30%;
	font-size: 20px;
}

ul{
	list-style:none;
	font-size: 20px;
}

